* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1,
h4 {
  color: brown;
}
.navbar-links {
  color: burlywood;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: lightgoldenrodyellow;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  align-content: left;
}

li {
  padding-right: 25px;
  text-align: center;
  line-height: 10px;
  color: grey;
  display: inline;
  font-size: 14px;
  /* display: none; */
}

li:hover {
  background-color: brown;
  color: bisque;
}

.form-navbar-footer-container,
.form-navbar-header-container {
  padding: 20px;
  background-color: lightgoldenrodyellow;
}

.navbar-footer-content {
  padding: 15px;
  color: grey;
  font-size: 14px;
}

.navbar-footer-branding {
  padding-bottom: 10px;
  float: right;
}
