.input-field-one {
  height: 20px;
  width: 80%;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  border-radius: 2px;
  border: solid 0.5px brown;
  outline: none;
}

.input-field-two {
  height: 20px;
  width: 75%;
  margin: 10px;
  padding: 10px;
  background-color: lightpink;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  outline: none;
}

.input-field-two:focus {
  background-color: lightslategray;
  color: wheat;
}

.input-field-three {
  height: 20px;
  width: 50%;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  border: solid 2px grey;
  font-size: 14px;
  outline-color: red;
}

.input-field-four {
  height: 20px;
  width: 25%;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  border: dashed 0.5px;
}

.numbers-1 {
  height: 15px;
  width: 5%;
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  border: solid grey 0.5px;
}

.numbers-2 {
  height: 10px;
  width: 5%;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  border-radius: 20px;
  border: solid black 0.5px;
  background: bisque;
}

.password-field-1 {
  height: 10px;
  width: 20%;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  border: solid black 0.5px;
  border-radius: 8px;
  outline: none;
}

.password-field-2 {
  height: 10px;
  width: 25%;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  border: solid red 2px;
  outline: none;
}
