* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.filters-container {
  display: flex;

}
.select-filter {
  margin: 20px;
  padding: 40px;
  background-color: papayawhip;
  outline: none;
  cursor: pointed;
  box-shadow: 0 2px 0 1px peru;
  font-size: 15px;
  color: brown;
}

.label {
  padding: 10px;
}
