* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.app-root {
	margin: 10px;
}

p {
	font-size: 10px;
	font-weight: bold;
	color: red;
}

h1,
h4 {
	color: grey;
}
h6 {
	color: green;
}

.form-container {
	margin: 100px auto;
	width: 1000px;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
	position: relative;
	border-radius: 10px;
	height: 600px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
